<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Update</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form (ngSubmit)="actualizarUsuario()" #form="ngForm">

        <ion-item>
            <ion-input type="text" name="nombre" placeholder=usuario.nombre [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" name="apellido" placeholder=usuario.apellido [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="number" name="dni" placeholder=usuario.dni [(ngModel)]="usuario.dni"></ion-input>
        </ion-item>

    </form>
</ion-content>

<ion-footer>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="block" (click)="actualizarUsuario()" [routerLink]="['/home']">Actualizar</ion-button>
            </ion-col>
            <ion-col>
                <ion-button color="danger" expand="block" [routerLink]="['/home']">Cancelar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>