<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Create</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form (ngSubmit)="crearUsuario()" #form="ngForm">

        <ion-input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="usuario.nombre"></ion-input>
        <ion-input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="usuario.apellido"></ion-input>
        <ion-input type="number" name="dni" placeholder="DNI" [(ngModel)]="usuario.dni"></ion-input>

    </form>

</ion-content>

<ion-footer>
    <ion-button expand="block" fill="outline" (click)="crearUsuario()" [routerLink]="['/home']">CREAR USUARIO</ion-button>
</ion-footer>